<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post.caption, post_path(post) %>
    <%= link_to "Edit #{post.caption}", edit_post_path(post) %>
    <%= link_to "Delete #{post.caption}", post_path(post), method: :delete %>
    <%= link_to "Comment", new_post_comment_path(post) %>
    
    <% if post.comments.any? %>
      <ul>
        <% post.comments.each do |comment| %>
          <li>
            <%= comment.views %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments.</p>

    <%= image_tag post.image.url, class: 'uploaded-pic' %>
    <% end %>
  <% end %>
<% else %>
  <p>No posts yet.</p>
<% end %>

<%= link_to "Add a post", new_post_path %>